@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:ital,wght@0,300;0,400;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
  color: white;
  overflow-x: hidden;
}
body .container {
  padding: 2em;
}

header {
  background-color: #4650BD;
  box-shadow: 1px 1px 5px 0px black;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: inline-block;
  width: 50%;
}
header .nav {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #304968;
  top: 80px;
}
header .menu a {
  display: block;
  padding: 30px;
  color: white;
  text-decoration: none;
  z-index: 999;
}
header .menu a:hover {
  background-color: #1E3A5F;
}
header .nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
header .hamb {
  cursor: pointer;
  padding: 40px 20px;
}
header .hamb-line {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
header .hamb-line:before, header .hamb-line:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-out;
}
header .hamb-line:before {
  top: -10px;
}
header .hamb-line:after {
  top: -5px;
}
header .side-menu {
  display: none;
}
header .side-menu:checked ~ nav {
  max-height: 100%;
}
header .side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
header .side-menu:checked ~ .hamb .hamb-line:before {
  transform: rotate(-45deg);
  top: 0;
}
header .side-menu:checked ~ .hamb .hamb-line:after {
  transform: rotate(45deg);
  top: 0;
}
@media (min-width: 768px) {
  header .hamb {
    display: none;
  }
  header .nav {
    position: static;
    max-height: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
  }
  header .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;
  }
  header .menu a {
    padding: 0;
  }
  header .menu a:hover {
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  header header {
    padding: 0 2em;
  }
  header .logo {
    width: 50%;
  }
  header .img-logo {
    width: 100%;
    max-width: 250px;
  }
  header .nav {
    justify-content: space-between;
    width: 50%;
  }
  header .menu {
    font-size: 1.2em;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  gap: 15px;
  padding: 2em 4em;
  background-color: #4650BD;
}
.footer .footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.footer .footer__top .footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.footer .footer__top .footer__social .footer__social--lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
}
.footer .footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@media (min-width: 1440px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.banner {
  display: flex;
  width: 100%;
  height: 40vh;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
}
.banner .banner__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Calistoga", cursive;
  font-size: 2em;
  font-weight: 400;
  color: white;
}
@media (min-width: 768px) {
  .banner .banner__texto {
    font-size: 2.5em;
    width: 300px;
    margin: 0 auto;
  }
}

.sobre .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
}
.sobre .container .sobre__imagem {
  width: 100%;
  border-radius: 15px;
}
.sobre .container .sobre__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.sobre .container .sobre__info .sobre__info--titulo {
  font-size: 2em;
  font-weight: 700;
}
.sobre .container .sobre__info .sobre__info--texto {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 25px;
}
.sobre .container .sobre__info .sobre__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1em 2em;
  background: #4650BD;
  box-shadow: 2px 4px 0px #444444;
  border-radius: 32px;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}
.sobre .container .sobre__info .sobre__btn .btn--ingresso {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/local_activity.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sobre .container .sobre__info .sobre__btn:hover {
  background: #606ADA;
}
@media (min-width: 768px) {
  .sobre .container .sobre__imagem {
    width: 90%;
    max-width: 600px;
  }
  .sobre .container .sobre__info {
    width: 60%;
    gap: 20px;
  }
  .sobre .container .sobre__info--texto {
    line-height: 40px;
  }
}
@media (min-width: 1440px) {
  .sobre .container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .sobre .container .sobre__imagem {
    width: 40%;
    max-width: 700px;
  }
  .sobre .container .sobre__info {
    width: 25%;
    gap: 25px;
  }
  .sobre .container .sobre__info--texto {
    line-height: 50px;
  }
}

.lineup .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4em;
}
.lineup .container .dia__titulo {
  font-size: 1.75em;
  font-weight: 700;
}
.lineup .container .dia__titulo::before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #4650BD;
  margin: 0 auto;
  position: relative;
  top: 18px;
  right: 190px;
}
.lineup .container .dia__titulo::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #4650BD;
  margin: 0 auto;
  position: relative;
  bottom: 18px;
  left: 190px;
}
.lineup .container .lineup__lista {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
.lineup .container .lineup__lista .lineup__item:first-of-type {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .lineup .container .lineup__lista .lineup__item:first-of-type {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.lineup .container .lineup__lista .lineup__item:nth-of-type(2),
.lineup .container .lineup__lista .lineup__item:nth-of-type(3),
.lineup .container .lineup__lista .lineup__item:nth-of-type(4),
.lineup .container .lineup__lista .lineup__item:nth-of-type(5) {
  font-size: 1.3rem;
  font-weight: 700;
}
.lineup .container .lineup__lista .lineup__item:nth-of-type(6),
.lineup .container .lineup__lista .lineup__item:nth-of-type(7),
.lineup .container .lineup__lista .lineup__item:nth-of-type(8),
.lineup .container .lineup__lista .lineup__item:nth-of-type(9) {
  font-weight: 700;
}
@media (min-width: 768px) {
  .lineup .container .lineup__lista {
    width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
}
@media (min-width: 1440px) {
  .lineup .container .lineup__lista {
    width: 750px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
}

.banner__footer {
  width: 100%;
  height: 40vh;
  background-image: url("../img/banner_footer.jpg");
  background-size: cover;
  background-position: 50% 40%;
}
.banner__footer .fundo {
  width: 100%;
  height: 100%;
  background: #4650BD;
  opacity: 0.3;
}

.header__summer {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__summer::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/summer.jpg");
  background-size: cover;
  background-position: 50% 40%;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}
.header__summer .header__summer--titulo {
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.experiencia {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.acessibilidade,
.sustentabilidade,
.atracoes {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.acessibilidade .div__img,
.sustentabilidade .div__img,
.atracoes .div__img {
  width: 100%;
  max-width: 550px;
  height: 300px;
  background-image: url("../img/acessibilidade.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
@media (min-width: 1400px) {
  .acessibilidade .div__img,
  .sustentabilidade .div__img,
  .atracoes .div__img {
    width: 650px;
    height: 300px;
  }
}
.acessibilidade .img-sustentailidade,
.sustentabilidade .img-sustentailidade,
.atracoes .img-sustentailidade {
  background-image: url("../img/sustentabilidade.jpg");
}
.acessibilidade .img-atracoes,
.sustentabilidade .img-atracoes,
.atracoes .img-atracoes {
  background-image: url("../img/atracao.jpg");
}
.acessibilidade .div__texto,
.sustentabilidade .div__texto,
.atracoes .div__texto {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.acessibilidade .div__texto .div__texto--titulo,
.sustentabilidade .div__texto .div__texto--titulo,
.atracoes .div__texto .div__texto--titulo {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}
.acessibilidade .div__texto .div__texto--paragrafo,
.sustentabilidade .div__texto .div__texto--paragrafo,
.atracoes .div__texto .div__texto--paragrafo {
  font-size: 1.1em;
  text-align: center;
  line-height: 30px;
}
@media (min-width: 1400px) {
  .acessibilidade .div__texto .div__texto--paragrafo,
  .sustentabilidade .div__texto .div__texto--paragrafo,
  .atracoes .div__texto .div__texto--paragrafo {
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .acessibilidade .div__texto,
  .sustentabilidade .div__texto,
  .atracoes .div__texto {
    align-items: flex-start;
  }
}
@media (min-width: 1440px) {
  .acessibilidade,
  .sustentabilidade,
  .atracoes {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .sustentabilidade {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1440px) {
  .sustentabilidade .div__texto {
    align-items: flex-end;
  }
}
@media (min-width: 1400px) {
  .sustentabilidade .div__texto .div__texto--paragrafo {
    text-align: right;
  }
}

.header__mapa {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__mapa::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/mpa.jpg");
  background-size: cover;
  background-position: center bottom;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}
.header__mapa .header__mapa--titulo {
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.mapa {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
@media (min-width: 1440px) {
  .mapa {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
  }
}
.mapa .mapa__img {
  width: 100%;
  max-width: 610px;
  height: 450px;
  max-height: 610px;
}
.mapa .mapa__img img {
  width: 100%;
  height: 100%;
}
.mapa .mapa__texto {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.mapa .mapa__texto .mapa__texto--lista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
@media (min-width: 1440px) {
  .mapa .mapa__texto .mapa__texto--lista {
    align-items: flex-start;
  }
}
.mapa .mapa__texto .mapa__texto--lista li:nth-of-type(1)::before,
.mapa .mapa__texto .mapa__texto--lista li:nth-of-type(2)::before,
.mapa .mapa__texto .mapa__texto--lista li:nth-of-type(3)::before,
.mapa .mapa__texto .mapa__texto--lista li:nth-of-type(4)::before,
.mapa .mapa__texto .mapa__texto--lista li:nth-of-type(5)::before {
  width: 16px;
  height: 16px;
  content: "";
  background-color: #0E7DF1;
  display: inline-block;
  margin-right: 10px;
}
.mapa .mapa__texto .mapa__texto--lista li:nth-of-type(2)::before {
  background-color: #FE016E;
}
.mapa .mapa__texto .mapa__texto--lista li:nth-of-type(3)::before {
  background-color: #01A89E;
}
.mapa .mapa__texto .mapa__texto--lista li:nth-of-type(4)::before {
  background-color: #3F51B5;
}
.mapa .mapa__texto .mapa__texto--lista li:nth-of-type(5)::before {
  background-color: #0E7DF1;
}
.mapa .mapa__texto .mapa__texto--titulo {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}
.mapa .mapa__texto .mapa__texto--paragrafo {
  font-size: 1.1em;
  text-align: center;
  line-height: 30px;
}
@media (min-width: 1400px) {
  .mapa .mapa__texto .mapa__texto--paragrafo {
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .mapa .mapa__texto {
    align-items: flex-start;
  }
}

.setores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
@media (min-width: 1440px) {
  .setores {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
  }
}
.setores .setor {
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.setores .setor .setor__imagem {
  width: 80%;
  max-width: 382px;
  height: 200px;
  max-height: 240px;
  background-image: url("../img/pista.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.setores .setor .premium {
  background-image: url("../img/premium.jpg");
}
.setores .setor .cadeiras {
  background-image: url("../img/cadeiras.jpg");
}
.setores .setor .setor__titulo {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}
.setores .setor .setor__texto {
  font-size: 1.1em;
  text-align: center;
  line-height: 25px;
  width: 450px;
}
@media (min-width: 1440px) {
  .setores .setor:nth-of-type(2) {
    margin-top: 150px;
  }
}

.header__info {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__info::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/info_banner.jpg");
  background-size: cover;
  background-position: center bottom;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}
.header__info .header__info--titulo {
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
}
.accordion .accordion__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 0.25em;
}
@media (min-width: 1440px) {
  .accordion .accordion__item {
    max-width: 900px;
    padding: 0.5em;
  }
}
.accordion .accordion__item .accordion__item--question {
  font-size: 1.2em;
  font-weight: 700;
  background-color: #4650BD;
  color: white;
  padding: 0.5em;
  cursor: pointer;
}
@media (min-width: 768px) {
  .accordion .accordion__item .accordion__item--question {
    font-size: 1.5em;
  }
}
.accordion .accordion__item .accordion__item--question::after {
  content: "+";
  float: right;
  margin-left: 15px;
}
.accordion .accordion__item .accordion__item--question.active::after {
  content: "-";
}
.accordion .accordion__item .accordion__item--answer {
  font-size: 1em;
  line-height: 25px;
  background-color: #C8DEEF;
  padding: 1em;
  color: #444444;
  display: none;
}
@media (min-width: 768px) {
  .accordion .accordion__item .accordion__item--answer {
    font-size: 1.2em;
  }
}
.accordion .accordion__item .active {
  display: block;
}

.header__ingresso {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__ingresso::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/ingresso.jpg");
  background-size: cover;
  background-position: center top;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}
.header__ingresso .header__ingresso--titulo {
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
}
.formulario h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .formulario h2 {
    font-size: 2em;
  }
}
.formulario .form {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formulario .form label {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.formulario .form .form__top,
.formulario .form .form__bottom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .formulario .form .form__top--item,
  .formulario .form .form__bottom--item {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
@media (min-width: 1440px) {
  .formulario .form .form__bottom {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  .formulario .form .form__bottom--item select {
    width: 100%;
  }
  .formulario .form .form__bottom--item input {
    width: 100%;
  }
}
.formulario .form input,
.formulario .form select {
  width: 100%;
  max-width: 450px;
  height: 40px;
  border: 1px solid #C8DEEF;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .formulario .form input,
  .formulario .form select {
    width: 650px;
  }
}
.formulario .btn-comprar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1em 2em;
  background: #4650BD;
  box-shadow: 2px 4px 0px #444444;
  border-radius: 32px;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}
.formulario .btn-comprar:hover {
  background: #606ADA;
}

.header__confirm {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__confirm::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/confirmacao.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}
.header__confirm .header__confirm--titulo {
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.confirm__titulo-principal {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
  max-width: 600px;
  text-align: center;
  margin: 2em auto;
}
@media (min-width: 768px) {
  .confirm__titulo-principal {
    font-size: 2em;
  }
}

.ingresso__confirm {
  background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
  width: 100%;
  max-width: 700px;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 350px;
  padding: 2em;
}
@media (max-width: 768px) {
  .ingresso__confirm {
    height: 100%;
  }
}
.ingresso__confirm .confirm__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ingresso__confirm .confirm__header .confirm__header--logo {
  font-family: "Calistoga", cursive;
  font-size: 1.5em;
  font-weight: 700;
}
.ingresso__confirm .confirm__header .confirm__header--simb {
  font-size: 1.2em;
  font-weight: 700;
}
.ingresso__confirm .confirm__body {
  display: flex;
  align-items: flex-start;
}
.ingresso__confirm .confirm__body img {
  width: 200px;
  height: 200px;
  margin-right: 1em;
}
.ingresso__confirm .confirm__body .confirm__body--texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.ingresso__confirm .confirm__body .confirm__body--texto .confirm__body--texto--nome {
  font-size: 1.5em;
  font-weight: 700;
}
.ingresso__confirm .confirm__body .confirm__body--texto .confirm__body--texto--data {
  font-size: 1em;
  font-weight: 700;
}
.ingresso__confirm .confirm__body .confirm__body--texto .confirm__body--texto--local {
  font-size: 1em;
  font-weight: 700;
}
@media (max-width: 768px) {
  .ingresso__confirm .confirm__body {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}/*# sourceMappingURL=styles.css.map */